@font-face {
						font-family: CHLORINAP
						src:url("./CHLORINAP.TTF") ;
}


body{
    /*padding: 20%;*/
    position:relative;
    font-family: "CHLORINAP";
    font-size: 25px;
    color: black;
  	text-align: center;
  	background-image: url(../images/sky.jpg);
  	background-size: cover;}
		
